# Merging Dataframes

In [5]:
import pandas as pd

temp_df=pd.DataFrame({
    'City':['Dhaka','Chittagong','Khulna'],
    'Temperature':[34,36,42]
})
hum_df=pd.DataFrame({
    'City':['Dhaka','Chittagong','Khulna'],
    'Humidity':[71,68,85]
})
print(temp_df)
print(hum_df)

         City  Temperature
0       Dhaka           34
1  Chittagong           36
2      Khulna           42
         City  Humidity
0       Dhaka        71
1  Chittagong        68
2      Khulna        85

In [6]:
Bangladesh_weather=pd.merge(temp_df,hum_df,on='City')
print(Bangladesh_weather)

         City  Temperature  Humidity
0       Dhaka           34        71
1  Chittagong           36        68
2      Khulna           42        85

# Inner Join

In [7]:
temp_df=pd.DataFrame({
    'City':['Dhaka','Chittagong','Khulna'],
    'Temperature':[34,36,42]
})
hum_df2=pd.DataFrame({
    'City':['Dhaka','Chittagong','Barishal'],
    'Humidity':[71,68,85]
})
Bangladesh_weather2=pd.merge(temp_df,hum_df2,on='City')
print(Bangladesh_weather2)

         City  Temperature  Humidity
0       Dhaka           34        71
1  Chittagong           36        68

# Outer Join

In [8]:
Bangladesh_weather2=pd.merge(temp_df,hum_df2,on='City',how='outer')
print(Bangladesh_weather2)

         City  Temperature  Humidity
0       Dhaka         34.0      71.0
1  Chittagong         36.0      68.0
2      Khulna         42.0       NaN
3    Barishal          NaN      85.0

In [11]:
Bangladesh_weather2=pd.merge(temp_df,hum_df2,on='City',how='outer',indicator=True)
print(Bangladesh_weather2)

         City  Temperature  Humidity      _merge
0       Dhaka         34.0      71.0        both
1  Chittagong         36.0      68.0        both
2      Khulna         42.0       NaN   left_only
3    Barishal          NaN      85.0  right_only

# Left & Right

In [10]:
Bangladesh_weather2=pd.merge(temp_df,hum_df2,on='City',how='left')
print(Bangladesh_weather2)

Bangladesh_weather2=pd.merge(temp_df,hum_df2,on='City',how='right')
print(Bangladesh_weather2)

         City  Temperature  Humidity
0       Dhaka           34      71.0
1  Chittagong           36      68.0
2      Khulna           42       NaN
         City  Temperature  Humidity
0       Dhaka         34.0        71
1  Chittagong         36.0        68
2    Barishal          NaN        85

# Adding Suffix

In [15]:
Bangladesh1=pd.DataFrame({
    'City':['Dhaka','Chittagong','Khulna'],
    'Temperature':[34,36,42],
    'Humidity':[85,62,71]
})
temp_df=pd.DataFrame({
    'City':['Dhaka','Chittagong','Khulna'],
    'Temperature':[34,36,42]
})
df=pd.merge(Bangladesh1,temp_df,on='City')
print(df)

         City  Temperature_x  Humidity  Temperature_y
0       Dhaka             34        85             34
1  Chittagong             36        62             36
2      Khulna             42        71             42

In [17]:
df=pd.merge(Bangladesh1,temp_df,on='City',suffixes=('_left','_right'))
print(df)

         City  Temperature_left  Humidity  Temperature_right
0       Dhaka                34        85                 34
1  Chittagong                36        62                 36
2      Khulna                42        71                 42