# 5 Different ways of creating Dataframe

In [5]:
import pandas as pd

df=pd.read_csv('csv_file_name.csv')

df=pd.read_excel('csv_file_name.xlsx', 'Sheet_name')

df=pd.DataFrame(dictionary_name)

df=pd.DataFrame(tuple_name, columns=['column 1','column 2',....])

df=pd.DataFrame(list_name)

# Creating Dictionary

In [6]:
dictionary_name = {
    'Date':['07/08/2022', '10/08/2022', '14/08/2022', '21/08/2022', '24/08/2022'],
    'Course_Code':['IPE 435','IPE 419','IPE 415','IPE 417','IPE 405'],
    'Course_Name':['Metal Cutting Process','Modelling & Simulation','Project Management','Industrial Automation','Supply Chain Management']
}
df=pd.DataFrame(dictionary_name) 
df

         Date Course_Code              Course_Name
0  07/08/2022     IPE 435    Metal Cutting Process
1  10/08/2022     IPE 419   Modelling & Simulation
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

# Creating Tuple

In [7]:
tuple_name = {
    ('07/08/2022','IPE 435','Metal Cutting Process'),('10/08/2022','IPE 419','Modelling & Simulation'),('14/08/2022','IPE 415','Project Management'),('21/08/2022','IPE 417','Industrial Automation'),('24/08/2022','IPE 405','Supply Chain Management')
}
df=pd.DataFrame(tuple_name, columns=['Date','Course_code','Course_name'])
df

         Date Course_code              Course_name
0  14/08/2022     IPE 415       Project Management
1  10/08/2022     IPE 419   Modelling & Simulation
2  24/08/2022     IPE 405  Supply Chain Management
3  07/08/2022     IPE 435    Metal Cutting Process
4  21/08/2022     IPE 417    Industrial Automation

# Creating List

In [9]:
list_name = [
    {'Date':'07/08/2022','Course_code':'IPE 435','Course_name':'Metal Cutting Process'},{'Date':'10/08/2022','Course_code':'IPE 419','Course_name':'Modelling & Simulation'},{'Date':'14/08/2022','Course_code':'IPE 415','Course_name':'Project Management'},{'Date':'21/08/2022','Course_code':'IPE 417','Course_name':'Industrial Automation'},{'Date':'24/08/2022','Course_code':'IPE 405','Course_name':'Supply Chain Management'}
]
df=pd.DataFrame(list_name)
df

         Date Course_code              Course_name
0  07/08/2022     IPE 435    Metal Cutting Process
1  10/08/2022     IPE 419   Modelling & Simulation
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management