In [97]:
import pandas as pd
import numpy as np
df=pd.read_csv('covid_19_dataset.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71690,ZWE,Africa,Zimbabwe,2/23/2021,35910.0,48.0,85.000,1448.0,7.0,4.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71691,ZWE,Africa,Zimbabwe,2/24/2021,35960.0,50.0,76.714,1456.0,8.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71692,ZWE,Africa,Zimbabwe,2/25/2021,35994.0,34.0,64.429,1458.0,2.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71693,ZWE,Africa,Zimbabwe,2/26/2021,36044.0,50.0,47.714,1463.0,5.0,4.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71694,ZWE,Africa,Zimbabwe,2/27/2021,36058.0,14.0,41.429,1463.0,0.0,4.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [98]:
df.isnull().sum()

iso_code                                     0
continent                                 3562
location                                     0
date                                         0
total_cases                                961
new_cases                                  963
new_cases_smoothed                        1964
total_deaths                             10029
new_deaths                                9871
new_deaths_smoothed                       1964
total_cases_per_million                   1348
new_cases_per_million                     1350
new_cases_smoothed_per_million            2346
total_deaths_per_million                 10403
new_deaths_per_million                   10245
new_deaths_smoothed_per_million           2346
reproduction_rate                        14233
icu_patients                             64082
icu_patients_per_million                 64082
hosp_patients                            62538
hosp_patients_per_million                62538
weekly_icu_admissions                    70978
weekly_icu_admissions_per_million        70978
weekly_hosp_admissions                   70513
weekly_hosp_admissions_per_million       70513
new_tests                                39079
total_tests                              39221
total_tests_per_thousand                 39221
new_tests_per_thousand                   39079
new_tests_smoothed                       34497
new_tests_smoothed_per_thousand          34497
positive_rate                            36086
tests_per_case                           36637
tests_units                              33200
total_vaccinations                       68847
people_vaccinated                        69280
people_fully_vaccinated                  70126
new_vaccinations                         69281
new_vaccinations_smoothed                67552
total_vaccinations_per_hundred           68847
people_vaccinated_per_hundred            69280
people_fully_vaccinated_per_hundred      70126
new_vaccinations_smoothed_per_million    67552
stringency_index                         10361
population                                 396
population_density                        4680
median_age                                6462
aged_65_older                             7214
aged_70_older                             6830
gdp_per_capita                            6286
extreme_poverty                          27021
cardiovasc_death_rate                     5687
diabetes_prevalence                       4856
female_smokers                           19742
male_smokers                             20455
handwashing_facilities                   38578
hospital_beds_per_thousand               11211
life_expectancy                           3570
human_development_index                   5701
dtype: int64

# Converting type (str-date)

In [99]:
type(df.date)

pandas.core.series.Series

In [100]:
df=pd.read_csv('covid_19_dataset.csv', parse_dates=['date'])
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [101]:
df.set_index('date', inplace=True)
df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-02-24,AFG,Asia,Afghanistan,1.0,1.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-25,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-26,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-27,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-28,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,ZWE,Africa,Zimbabwe,35910.0,48.0,85.000,1448.0,7.0,4.857,2416.079,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-24,ZWE,Africa,Zimbabwe,35960.0,50.0,76.714,1456.0,8.0,5.429,2419.443,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-25,ZWE,Africa,Zimbabwe,35994.0,34.0,64.429,1458.0,2.0,5.429,2421.730,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-26,ZWE,Africa,Zimbabwe,36044.0,50.0,47.714,1463.0,5.0,4.714,2425.094,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-27,ZWE,Africa,Zimbabwe,36058.0,14.0,41.429,1463.0,0.0,4.429,2426.036,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [102]:
df.columns

Index(['iso_code', 'continent', 'location', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

# Cleaning & Handling messy data

In [103]:
#carrying forward from previous value
df=df.fillna(method='ffill')  #bfill for copying next value
df.isnull().sum()

iso_code                                     0
continent                                    0
location                                     0
total_cases                                  0
new_cases                                    0
new_cases_smoothed                           5
total_deaths                                27
new_deaths                                  27
new_deaths_smoothed                          5
total_cases_per_million                      0
new_cases_per_million                        0
new_cases_smoothed_per_million               5
total_deaths_per_million                    27
new_deaths_per_million                      27
new_deaths_smoothed_per_million              5
reproduction_rate                           34
icu_patients                              4186
icu_patients_per_million                  4186
hosp_patients                             4186
hosp_patients_per_million                 4186
weekly_icu_admissions                    16475
weekly_icu_admissions_per_million        16475
weekly_hosp_admissions                    6718
weekly_hosp_admissions_per_million        6718
new_tests                                  751
total_tests                                751
total_tests_per_thousand                   751
new_tests_per_thousand                     751
new_tests_smoothed                         758
new_tests_smoothed_per_thousand            758
positive_rate                              769
tests_per_case                             769
tests_units                                751
total_vaccinations                        1071
people_vaccinated                         1071
people_fully_vaccinated                   1094
new_vaccinations                          1074
new_vaccinations_smoothed                 1072
total_vaccinations_per_hundred            1071
people_vaccinated_per_hundred             1071
people_fully_vaccinated_per_hundred       1094
new_vaccinations_smoothed_per_million     1072
stringency_index                             0
population                                   0
population_density                           0
median_age                                   0
aged_65_older                                0
aged_70_older                                0
gdp_per_capita                               0
extreme_poverty                            751
cardiovasc_death_rate                        0
diabetes_prevalence                          0
female_smokers                             751
male_smokers                               751
handwashing_facilities                       0
hospital_beds_per_thousand                   0
life_expectancy                              0
human_development_index                      0
dtype: int64

#copy value from beside the same row
df=df.fillna(method='ffill', axis='columns')

#copy value forward only for once
df=df.fillna(method='ffill',limit=1)

#carrying a value by interpolòating the previous and next value
new_df = df.interpolate()
new_df = df.interpolate(mathod='time')

# Droping rows

In [104]:
new_df=df.dropna()
#new_df=df.dropna(how='all')   ##Only drop those rows which have no value in any columns
new_df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-03-22,CYP,Europe,Cyprus,95.0,11.0,9.857,1.0,1.0,0.143,108.460,...,32415.132,0.7,141.171,9.24,19.6,52.7,85.198,3.4,80.98,0.887
2020-03-23,CYP,Europe,Cyprus,116.0,21.0,11.857,1.0,0.0,0.143,132.435,...,32415.132,0.7,141.171,9.24,19.6,52.7,85.198,3.4,80.98,0.887
2020-03-24,CYP,Europe,Cyprus,124.0,8.0,11.143,3.0,2.0,0.429,141.569,...,32415.132,0.7,141.171,9.24,19.6,52.7,85.198,3.4,80.98,0.887
2020-03-25,CYP,Europe,Cyprus,132.0,8.0,11.857,3.0,0.0,0.429,150.702,...,32415.132,0.7,141.171,9.24,19.6,52.7,85.198,3.4,80.98,0.887
2020-03-26,CYP,Europe,Cyprus,146.0,14.0,11.286,3.0,0.0,0.429,166.686,...,32415.132,0.7,141.171,9.24,19.6,52.7,85.198,3.4,80.98,0.887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,ZWE,Africa,Zimbabwe,35910.0,48.0,85.000,1448.0,7.0,4.857,2416.079,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-24,ZWE,Africa,Zimbabwe,35960.0,50.0,76.714,1456.0,8.0,5.429,2419.443,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-25,ZWE,Africa,Zimbabwe,35994.0,34.0,64.429,1458.0,2.0,5.429,2421.730,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-26,ZWE,Africa,Zimbabwe,36044.0,50.0,47.714,1463.0,5.0,4.714,2425.094,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-27,ZWE,Africa,Zimbabwe,36058.0,14.0,41.429,1463.0,0.0,4.429,2426.036,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

#if we have atleast one non N/A valuse kepp that rows and drop all other rows 
new_df=df.dropna(thresh=1)
new_df

# Inserting the missing dates

dt=pd.date_range('2020-03-01','2021-12-31')
idx=pd.DatetimeIndex(dt)
x=new_df.reindex(idx)
x

# Handling Missing Data

In [106]:
df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-02-24,AFG,Asia,Afghanistan,1.0,1.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-25,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-26,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-27,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-28,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,ZWE,Africa,Zimbabwe,35910.0,48.0,85.000,1448.0,7.0,4.857,2416.079,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-24,ZWE,Africa,Zimbabwe,35960.0,50.0,76.714,1456.0,8.0,5.429,2419.443,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-25,ZWE,Africa,Zimbabwe,35994.0,34.0,64.429,1458.0,2.0,5.429,2421.730,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-26,ZWE,Africa,Zimbabwe,36044.0,50.0,47.714,1463.0,5.0,4.714,2425.094,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-27,ZWE,Africa,Zimbabwe,36058.0,14.0,41.429,1463.0,0.0,4.429,2426.036,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

x=df.replace([0.0,1.0],np.NaN)
x

#replace values based on specific columns
x=df.replace({
    'new_deaths':0.0,
    'total_cases':1.0
},np.NaN)
x

In [111]:
x=df.replace('[A-Za-z]','',regex=True)
x

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-02-24,,,,1.0,1.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-25,,,,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-26,,,,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-27,,,,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-28,,,,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,,,,35910.0,48.0,85.000,1448.0,7.0,4.857,2416.079,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-24,,,,35960.0,50.0,76.714,1456.0,8.0,5.429,2419.443,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-25,,,,35994.0,34.0,64.429,1458.0,2.0,5.429,2421.730,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-26,,,,36044.0,50.0,47.714,1463.0,5.0,4.714,2425.094,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-02-27,,,,36058.0,14.0,41.429,1463.0,0.0,4.429,2426.036,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

y=df.replace({
    'new_deaths':'[A-Za-z]',
    'total_cases':'[A-Za-z]',
},'',regex=True)
y

# Replace the list value with another list

In [112]:
df=pd.DataFrame({
    'Student_Name':['Nakib','Azrin','Chaity','Zayed','Dany','Mouri'],
    'Remarks':['Exceptional','Average','Good','Very Poor','Average','Poor']
})
df

  Student_Name      Remarks
0        Nakib  Exceptional
1        Azrin      Average
2       Chaity         Good
3        Zayed    Very Poor
4         Dany      Average
5        Mouri         Poor

In [113]:
a=df.replace(['Poor','Very Poor','Average','Good','Exceptional'],[1,2,3,4,5])
a

  Student_Name  Remarks
0        Nakib        5
1        Azrin        3
2       Chaity        4
3        Zayed        2
4         Dany        3
5        Mouri        1