# Jupyter to CSV/Excel or, CSV/Excel to Jupyter

In [ ]:
import pandas as pd
data=pd.read_csv('bd-dec21-births-deaths-by-region.csv') 
data

#skiprows/header
data=pd.read_csv('bd-dec21-births-deaths-by-region.csv',header=1) 

#if there is no column names or header
data=pd.read_csv('bd-dec21-births-deaths-by-region.csv',header=None, name=['column_name_1','column_name_2',....])

#to print particular rows
data=pd.read_csv('bd-dec21-births-deaths-by-region.csv',nrows=10)
data

In [73]:
data.shape

(612, 4)

#cleaning messy data by replacing 'na_vallues'
data=pd.read_csv('bd-dec21-births-deaths-by-region.csv',na_values=['value_name_1','value_name_2',...]) 
data=pd.read_csv('bd-dec21-births-deaths-by-region.csv',na_values={
'Column_1':['value_name_1','value_name_2',...],'Column_2':['value_name_1','value_name_2',...],... 
})

In [74]:
#write dataframe into 'csv' file
data.to_csv('updated_bd-dec21-births-deaths-by-region.csv')

In [75]:
data.to_csv('updated_bd-dec21-births-deaths-by-region.csv',index=False)
#data.to_csv('updated_bd-dec21-births-deaths-by-region.csv',headeralse)
#ata.to_csv('updated_bd-dec21-births-deaths-by-region.csv',columns=['Region', 'Count'])

In [76]:
data.columns

Index(['Period', 'Birth_Death', 'Region', 'Count'], dtype='object')

In [77]:
data['Region'].value_counts()

Northland region                             34
Auckland region                              34
Region not stated or\narea outside region    34
Southland region                             34
Otago region                                 34
Canterbury region                            34
West Coast region                            34
Marlborough region                           34
Nelson region                                34
Tasman region                                34
Wellington region                            34
Manawatu-Wanganui region                     34
Taranaki region                              34
Hawke's Bay region                           34
Gisborne region                              34
Bay of Plenty region                         34
Waikato region                               34
New Zealand                                  34
Name: Region, dtype: int64

In [85]:
def covert_Region_cell(cell):
    if cell=='Region not stated or\narea outside region':
        return None
    return cell
data=pd.read_csv('updated_bd-dec21-births-deaths-by-region.csv', converters={
    'Region':covert_Region_cell,
})
data

     Period Birth_Death                Region  Count
0      2005      Births      Northland region   2067
1      2005      Births       Auckland region  20745
2      2005      Births        Waikato region   5667
3      2005      Births  Bay of Plenty region   3771
4      2005      Births       Gisborne region    777
..      ...         ...                   ...    ...
607    2021      Deaths     Canterbury region   4689
608    2021      Deaths          Otago region   1764
609    2021      Deaths      Southland region    891
610    2021      Deaths                  None     39
611    2021      Deaths           New Zealand  34929

[612 rows x 4 columns]

In [86]:
data['Region'].value_counts()

Northland region            34
Tasman region               34
Southland region            34
Otago region                34
Canterbury region           34
West Coast region           34
Marlborough region          34
Nelson region               34
Wellington region           34
Auckland region             34
Manawatu-Wanganui region    34
Taranaki region             34
Hawke's Bay region          34
Gisborne region             34
Bay of Plenty region        34
Waikato region              34
New Zealand                 34
Name: Region, dtype: int64

In [90]:
data.to_excel('bd-dec21-births-deaths-by-region.xlsx',sheet_name='births-deaths',startrow=5,startcol=2,index=False)

# Transfer multiple DataFrame in one Excel/CSV file in different sheets

In [96]:
df_marks = pd.DataFrame({
    'Name':['Fahima Akter Azrin','Abu Saleh Md. Nakib Uddin','Farhana Audity','Rezwan Kabir Shihab','Tasfia Saba'],
    'Roll':[201936029,201936022,201936008,201936013,201936019],
    'Marks':[96.9,99.7,70,45.2,86.4]
})
df_routine = pd.DataFrame({
    'Date':['07/08/2022', '10/08/2022', '14/08/2022', '21/08/2022', '24/08/2022'],
    'Course_Code':['IPE 435','IPE 419','IPE 415','IPE 417','IPE 405'],
    'Course_Name':['Metal Cutting Process','Modelling & Simulation','Project Management','Industrial Automation','Supply Chain Management']
})

In [98]:
with pd.ExcelWriter('Marks_routine.xlsx') as writer:
    df_routine.to_excel(writer,sheet_name='Routine',index=False)
    df_marks.to_excel(writer,sheet_name='Marks',index=False)