In [ ]:
# Making Dataframe

In [92]:
import pandas as pd
routine = {
    'Date':['07/08/2022', '10/08/2022', '14/08/2022', '21/08/2022','24/08/2022'],
    'Course_Code':['IPE 435','IPE 419','IPE 415','IPE 417','IPE 405'],
    'Course_Name':['Metal Cutting Process','Modelling & Simulation','Project Management','Industrial Automation','Supply Chain Management']
}
df=pd.DataFrame(routine)
df

         Date Course_Code              Course_Name
0  07/08/2022     IPE 435    Metal Cutting Process
1  10/08/2022     IPE 419   Modelling & Simulation
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

In [93]:
df.head()

         Date Course_Code              Course_Name
0  07/08/2022     IPE 435    Metal Cutting Process
1  10/08/2022     IPE 419   Modelling & Simulation
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

In [94]:
df.shape

(5, 3)

In [95]:
rows,columns=df.shape
print(rows)
print(columns)

5
3

In [96]:
df.tail(2)

         Date Course_Code              Course_Name
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

In [97]:
df[2:5]

         Date Course_Code              Course_Name
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

In [98]:
df.columns

Index(['Date', 'Course_Code', 'Course_Name'], dtype='object')

In [99]:
df['Course_Code']

0    IPE 435
1    IPE 419
2    IPE 415
3    IPE 417
4    IPE 405
Name: Course_Code, dtype: object

In [100]:
type(df['Course_Code'])

pandas.core.series.Series

In [101]:
df[['Course_Code','Course_Name']]

  Course_Code              Course_Name
0     IPE 435    Metal Cutting Process
1     IPE 419   Modelling & Simulation
2     IPE 415       Project Management
3     IPE 417    Industrial Automation
4     IPE 405  Supply Chain Management

In [102]:
df['Date'].min()

'07/08/2022'

In [103]:
df.describe()

              Date Course_Code            Course_Name
count            5           5                      5
unique           5           5                      5
top     07/08/2022     IPE 435  Metal Cutting Process
freq             1           1                      1

In [104]:
df[df['Date']>='20/08/2022']

         Date Course_Code              Course_Name
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

In [105]:
df[df.Date==df['Date'].max()]

         Date Course_Code              Course_Name
4  24/08/2022     IPE 405  Supply Chain Management

In [106]:
df['Course_Code'][df.Date==df['Date'].max()]

4    IPE 405
Name: Course_Code, dtype: object

In [107]:
df[['Course_Code','Course_Name']][df.Date==df['Date'].max()]

  Course_Code              Course_Name
4     IPE 405  Supply Chain Management

In [108]:
df

         Date Course_Code              Course_Name
0  07/08/2022     IPE 435    Metal Cutting Process
1  10/08/2022     IPE 419   Modelling & Simulation
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management

In [109]:
df.set_index('Date', inplace=True)

In [113]:
df

           Course_Code              Course_Name
Date
07/08/2022     IPE 435    Metal Cutting Process
10/08/2022     IPE 419   Modelling & Simulation
14/08/2022     IPE 415       Project Management
21/08/2022     IPE 417    Industrial Automation
24/08/2022     IPE 405  Supply Chain Management

In [117]:
df.loc['07/08/2022']

Course_Code                  IPE 435
Course_Name    Metal Cutting Process
Name: 07/08/2022, dtype: object

In [118]:
df.reset_index(inplace=True)

In [119]:
df

         Date Course_Code              Course_Name
0  07/08/2022     IPE 435    Metal Cutting Process
1  10/08/2022     IPE 419   Modelling & Simulation
2  14/08/2022     IPE 415       Project Management
3  21/08/2022     IPE 417    Industrial Automation
4  24/08/2022     IPE 405  Supply Chain Management